{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
  <title>Surrey GC archive</title>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <meta name="description" content=""/>
  <meta name="keywords" content="" />
  <meta name="robots" content="index, follow" />
  <link rel="stylesheet" type="text/css" href="static/screen.css" media="screen" />
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
  <link rel="stylesheet" href="{% static 'screen.css' %}" />

</head>
<body>

<div id="header">
  <h1>Surrey Globular Cluster Archive </h1>
  <h2>A web-based archive for the best objects in the Universe</h2>
  <ul>
    <li><a href="#">Menu goes here<span>Here</span></a></li>
  </ul>

</div>
<div class="colmask rightmenu">
  <div class="colleft">
    <div class="col1">
      <!-- Column 1 start -->
      <h2>Observations</h2>
      {% render_table observations %}
      <!-- Column 1 end -->
    </div>
    <div class="col2">
      <!-- Column 2 start -->
      <h2>References</h2>
      {% render_table references %}
      <!-- Column 2 end -->
    </div>
  </div>
</div>
<div id="footer">
  <p>This is the footer </p.

</body>
</html>
